.down {
  justify-self: center;
  align-self: center;
  margin-bottom: 1rem;
}

.iconDown {
  height: 2rem;
  width: 2rem;
}

.iconDown:hover {
  animation: arrowTransitionDown 0.6s ease-in-out forwards 1;
}
@keyframes arrowTransitionDown {

  50%{
    transform: rotate(180deg);

  }
  100% {
    background-color: rgba(199, 196, 200, 0.212);
    transform: translateY(-0.2rem) rotate(180deg);
    border-radius: 60%;
    color: aquamarine;
    scale: 1.9;

  }
 

}
