.backgroundPop {
    background: linear-gradient(
      to right,
      hwb(113 25% 61% / 0.900),
      hsla(153, 38%, 25%, 0.900)
    );
    height: 29vh;
    width: 40vw;
    position: fixed;
    z-index: 5;

  }
  